@import url("https://fonts.googleapis.com/css?family=Oleo+Script&display=swap"); 

body {
  width: 100%;
}

#login {
  margin-top: 20%;
}
.title {
  font-family: 'Oleo Script', cursive;
  color: red;
  font-size: 60px;
  margin: 0 auto;
}

.loginContainer {
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

.loginBox {
  margin: 10px 0;
  height: 25px;
  border-radius: 3px;
}

.loginButton {
  width: 58px;
  height: 25px;
  border-radius: 3px;
}

#homepage {
  margin-bottom: 5%;
}

#profilePage {
  margin-bottom: 5%;
}

h1 {
  font-size: 60px;
  text-align: center;
}

#search {
  width: 100%;
  height: 4%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 30px auto;
  
}

.searchBox {
  width: 18%;
  border-radius: 2px;
}

#searchButton {
  margin-left: 20px;
  border-radius: 4px;
}

#navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: row wrap;
  position: fixed;
  bottom: 0;
  background-color: white;
  border-top: 2px solid black;
  height: 75px;
}

#modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 27%;
  top: 10%;
  width: 38%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  margin: 0 auto;
  text-align: center;
  border: 5px gray solid;
  border-radius: 6px;
  background-color: black;
}



.navbutton {
  width: 125px;
  /* padding: 10px; */
  /* margin: 10px; */
  height: 25px;;
  border-radius: 4px;
  margin-top: 25px;
}


.display {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.displayImage {
  width: 38%;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}

@media (min-width: 300px) {
  .image {
    width: 140px;
  }
}

@media (min-width: 600px) {
  .image {
    width: 275px;
  }
}

@media (min-width: 900px) {
  .image {
    width: 420px;
  }
}

@media (min-width: 1200px) {
  .image {
    width: 550px;
  }
}


